# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
myenv/
.env/

# macOS
.DS_Store

# VSCode
.vscode/

# PyCharm
.idea/

# Log files
*.log

# Temporary files
*.tmp
